<div class="aboutbox">
    <div class="circle"></div>
    <div class="titleAbout">
        <span style="color:#f6b846 ;">A</span>bout Me
    </div>
    <div class="bar">

    </div>
    <div class="circle1"></div>
    <div class="titleAbout">
        <span style="color:#f6b846 ;">M</span>y Services
    </div>
    <div class="bar1">

    </div>
    <div class="circle2"></div>
    <div class="titleAbout">
        <span style="color:#f6b846 ;">Q</span>uote
    </div>
    <div class="bar2">

    </div>
</div>
