<ng-particles [id]="id" [options]="particlesOptions" [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)">

</ng-particles>
<div class="content">
  <div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}"></div>
  <app-sidebar (openAbout)="loadAbout()" (openResume)="loadResume()" (openProjects)="loadProjects()" (openContact)="loadContact()"></app-sidebar>
  <app-profile></app-profile>
  
  <div >
    <ng-template dynamicChildLoader=""></ng-template>
  </div>

</div>