<div class="lightbox">
    <div class="sectionlight">
        <i class="fa-solid fa-circle-half-stroke fa-xl" ></i>
    </div>
</div>
<div class="sidebox">
    <div class="links">
      
        <div class="section" (click)="About()" >
            <div> <i class="fa-regular fa-user fa-xl"></i></div>
           
            <div class="title">About</div>
        </div>
        <div class="bar"></div>
        <div class="section" (click)="Resume()">
            <div><i class="fa-regular fa-rectangle-list fa-xl" ></i></div>
            
            <div class="title">Resume</div>
        </div>
        <div class="bar"></div>
        <div class="section" (click)="Projects()" >
            <div><i class="fa-solid fa-laptop-code fa-xl" ></i></div>
            
            <div class="title">Projects</div>
        </div>
        <div class="bar"></div>
        <div class="section" (click)="Contact()">
            <div> <i class="fa-regular fa-paper-plane fa-xl" ></i></div>
           
            <div class="title">Contact</div>
        </div>
    </div>
</div>