<div class="profilebox">
    <div class="covers">
        <img id="f1" class="cover" src="../../assets/cover1.jpg">
        <img id="f2" class="cover" src="../../assets/cover2.jpg">
    </div>
    <div>
        <img class="profilephoto" src="../../assets/girl3.jpg">
    </div>
    <div class="description">
        <div class="name">Amani Gaddour</div>
        <div *ngIf="show" class="fonction">Front-end Developer</div>
        <div *ngIf="!show" class="fonction1">Software Engineer</div>
        <div class="links">
            <i class="fa-brands fa-instagram" style=" margin-right: 1em;"></i>
            <i class="fa-brands fa-twitter" style="margin-right: 1em;"></i>
            <i class="fa-brands fa-github" style="margin-right: 1em;"></i>
            <i class="fa-brands fa-stack-overflow" style="margin-right: 1em;"></i>
            <i class="fa-brands fa-whatsapp" style="margin-right: 1em;"></i>
        </div>
    </div>
    <div class="profilephotoshadow">

    </div>
    <div class="bar">

    </div>
    <div class="verticalbar">

    </div>
    <div class="download">
        <div class="text">Download cv</div>
        <div class="icon"> <i class="fa-solid fa-cloud-arrow-down" ></i></div>
    </div>
    <div class="contact">
        <div class="text">Contact me</div>
        <div class="icon"><i class="fa-solid fa-paper-plane" ></i></div>
    </div>
</div>
<div class="shaddowbox">

</div>